/* App.css */

.portfolio-container {
  margin-top: 20px;
}

.portfolio-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.portfolio-value {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 40px;
}

.stock-list {
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.stock-list-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.stock-list-item:hover {
  background-color: #f8f9fa;
}

.stock-details {
  margin-left: 20px;
}

.add-new-symbol {
  margin-bottom: 20px;
}

.update-quantity-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.graph-placeholder {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 200px; /* Adjust as needed */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-placeholder-text {
  color: #666;
  font-style: italic;
}
